# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/flutter_app/android/app/debug
/flutter_app/android/app/profile
/flutter_app/android/app/release
apps/flutter_app/.metadata
apps/flutter_app/.dart_tool
apps/flutter_app/analysis_options.yaml
apps/flutter_app/ios/build
apps/flutter_app/linux
apps/flutter_app/macos
apps/flutter_app/web
apps/flutter_app/windows
